/* .img-brand {
    height: 2.75rem;
  }
   */

  #contact {
    background-color: #212529;
    background-image: url("/assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  #contact .section-heading {
    color: #fff;
  }
  #contact form#contactForm .form-group {
    margin-bottom: 1.2rem;
  }
  #contact form#contactForm .form-group input,
  #contact form#contactForm .form-group textarea {
    padding: 1.25rem;
  }
  #contact form#contactForm .form-group input.form-control {
    height: auto;
  }
  #contact form#contactForm .form-group-textarea {
    height: 100%;
  }
  #contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
  }
  #contact form#contactForm p.help-block {
    margin: 0;
  }
  #contact form#contactForm .form-control:focus {
    border-color: #ffc800;
    box-shadow: none;
  }
  #contact form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  #contact form#contactForm :-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  #contact form#contactForm ::-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  #contact form#contactForm :-ms-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  