<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="">
            <h2 class="section-heading text-uppercase">About us</h2>
            
        </div>
        <p class="text-muted">At Jest Deco, we believe that every event should be a reflection of the individual style and personality of its host. From intimate birthday celebrations to grand weddings, we are dedicated to bringing your vision to life and creating an unforgettable experience.</p>
        <div class="aboutus">
                       
            <p class="text-muted">Founded by Jeston Martins, Jest Deco has quickly become one of the leading event decoration companies in the industry. With years of experience and a talented team of decorators and designers, we have a reputation for providing top-notch services and creating events that truly make a statement.</p>
            <p class="text-muted">At Jest Deco, we understand that every event is unique and requires a personalized approach. That's why we take the time to get to know each of our clients and understand their individual vision and style. From there, our team works tirelessly to bring that vision to life, using only the highest-quality materials and the latest decoration techniques.</p>
            <!-- <p class="text-muted">Whether you're planning a wedding, a corporate event, or a birthday celebration, Jest Deco is here to help make your event truly unforgettable.</p> -->
            <p class="text-muted">We are dedicated to providing top-notch service, and believe that the key to a successful event is a talented and dedicated team. Our team of experienced event decorators and designers is passionate about creating unforgettable experiences, and committed to making sure your event exceeds your expectations.</p>
            <p class="text-muted">If you're looking for a partner in event decoration, look no further than Jest Deco. Contact us today to learn more about how we can help make your event truly unforgettable.</p>
        </div>
          
    </div>
    <app-team></app-team>
</section>