<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="content" role="main">
  <app-header></app-header> 
 <!--  <app-services></app-services>
  <app-portfolio></app-portfolio>
  <app-about></app-about>
  <app-team></app-team>
  <app-testimonial></app-testimonial> 
  <app-contact></app-contact>-->
  <div class="middle-content">
  <router-outlet></router-outlet>
  </div>
 
  <app-footer></app-footer>
</div>

