<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <p class="text-muted">
                At Jest Deco, we believe that the key to delivering truly unforgettable events is our amazing team of professionals. Each and every one of our team members is dedicated to creating stunning, customized event decorations that truly reflect your unique style and vision.Our team of designers and decorators are just as dedicated to excellence as Jeston is. Each team member is a true artist in their own right, bringing their unique skills and perspectives to every project. Whether you're looking for traditional decorations or something more modern and edgy, our team has the expertise to make it happen.
            </p>
        </div>

        <div class="card mb-3 border-0 bg-light" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/team/1.jpg" class="img-fluid mx-auto rounded-start " alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <div class="team-member">
                        <h5 class="card-title">Jeston Martins</h5>
                        <p class="text-muted card-text">Founder</p>
                       
                        <p class="card-text">
                            Meet Jeston Martins, the Founder and Lead Designer. As the founder, Jeston is responsible for the overall direction, strategy, and success of the company. This could include developing and implementing business plans, building and managing a team, securing new business and clients, and ensuring that the company is financially successful. A successful event decoration company founder should have strong leadership, entrepreneurship, financial, and business development skills, as well as a passion for event decoration and a commitment to delivering high-quality services to clients.
                        </p>
                        <p class="card-text">
                            Jeston brings a wealth of knowledge and creativity to every project. Whether you're planning a birthday celebration, 
                            a wedding, or a corporate event, Jeston will work with you to bring your vision to life.
                            
                        
                        </p>
                        <p class="card-text"><small class="text-muted">Follow me</small></p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border-0 bg-light" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/img/team/2.jpg" class="img-fluid mx-auto rounded-start " alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <div class="team-member">
                        <h5 class="card-title">Elvy Martins</h5>
                        <p class="text-muted card-text">Lead Designer</p>
                        <p class="card-text">Elvy Martins is likely an event lead decorator who is responsible for overseeing and executing the decoration aspect of events. This could include conceptualizing and implementing design themes, selecting and coordinating decor elements such as lighting, flowers, linens, and props, and ensuring that the final product meets the client's expectations. A successful event lead decorator should have strong creativity, organizational, and communication skills, as well as an eye for detail and an ability to work under pressure.</p>
                        <p class="card-text"><small class="text-muted">Follow me</small></p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">We are passionate about making your event unforgettable. From start to finish, our amazing team will work closely with you to ensure that your event is truly one of a kind. Contact us today to learn more about how we can help make your event unforgettable.</p>
            </div>
        </div>
    </div>
</section>