
  .team-member {
    margin-bottom: 3rem;
    margin-left: 1.5rem;
  }

  .team-member h5, .team-member .h5 {
 
    margin-bottom: 0;
  }
  
  #team img{
    object-fit: cover;
    object-position: center;
    width: 372px;
    max-height: 372px;
  }