<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Services</h2>
      <h3 class="section-subheading text-muted">At Jest Deco, we offer a wide range of event decoration services to make your special occasion unforgettable. From birthdays to weddings, corporate events to holidays, we have the expertise and experience to bring your vision to life.</h3>
    </div>
    <div class="row text-center">

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/img/services/birthday.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Birthday Decoration</h5>
            <p class="card-text">Make your birthday celebration even more special with our custom birthday decoration services. We offer balloons, theme-based decoration, photo booth setup, table and chair setup, and lights and sound setup to make your birthday one to remember</p>
            <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/img/services/wedding.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wedding Decoration</h5>
            <p class="card-text">Say “I do” in style with our stunning wedding decoration services. From ceremony decoration to reception decoration, stage decoration to floral arrangements, we have everything you need to make your wedding day truly unforgettable.</p>
           <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/img/services/celebration.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Other Celebrations</h5>
            <p class="card-text">Whether you're celebrating an anniversary, a baby shower, a graduation, or a holiday, we have the expertise to create the perfect atmosphere for your special occasion. Our team offers corporate event decoration, festive holiday decoration, and much more to make your event unforgettable.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="text-center planning-section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <span>PLANNING YOUR NEXT EVENT?</span>
          </h5>

          <a routerLink="/contact" class="btn btn-contact">Let's talk</a>


        </div>
      </div>
    </div>
  </div>

</section>