
<app-header-banner></app-header-banner>
<app-services></app-services>
<section class="page-section home-page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Achievments</h2>
            <h3 class="section-subheading text-muted">At Jest Deco, we are proud of the work we have done and the events we have helped bring to life. Over the years, we have earned a reputation for providing top-notch event decoration services and creating unforgettable experiences for our clients.</h3>
        </div>
         <div class="row align-items-md-stretch curved-1">
             <div class="col-md-6">
               <div class="h-100 p-4 bg-light rounded-3">
                <!--  <h2>Completed Projects so far <span class="badge bg-secondary">450<sup>+</sup></span></h2> -->
               
                <!--  <a routerLink="/portfolio" class="btn btn-outline-light" type="button">See our Portfolio</a> -->
                 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img  class="img-fluid curved" src="assets/img/services/birthday.jpg">
                      </div>
                      <div class="carousel-item">
                        <img  class="img-fluid curved" src="assets/img/services/celebration.jpg">
                      </div>
                      <div class="carousel-item">
                        <img  class="img-fluid curved" src="assets/img/services/wedding.jpg">
                      </div>
                    </div>
                 </div>
                    
                    
                    
               </div>
             </div>
             <div class="col-md-6">
               <div class="h-100 p-5 border-light border rounded-3 ">
                <div class="row">
                    <div class="col">
                   <h3>Completed Projects: <span class="badge bg-secondary">450<sup>+</sup></span></h3> 
                       

                        <a routerLink="/portfolio" class="btn btn-outline-dark mb-4" type="button">See our Portfolio</a> 
                                        </div>
                </div>
                 <h3> Follow us on</h3>
                 <div class="row">
                    <div class="col">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                   
                </div>
             
             
                 
               </div>
              
             </div>
           </div>
    
     </div>
    </section>
    
<app-team></app-team>
<app-testimonial></app-testimonial> 