.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

.footer .planning-section .card{
    background-color: #FFF76A !important;
   padding: 0rem 4rem; 
   margin-bottom: 2rem;

}

.footer .planning-section .card .card-title
{
    line-height: 1.2em;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: #000;
   
}
.footer .planning-section .card .card-title
{
    letter-spacing: 0.02em;
    padding: 2rem 4rem;
    display: block;
}