<!-- <div class="user-profile" *ngIf="userObs$ | async as user">
    <div class="user-icon" [matMenuTriggerFor]="menu">
      <ng-container *ngIf="user.photoURL; else initialsTemplate">
        <img [src]="user.photoURL" alt="Profile Image" class="profile-img"/>
      </ng-container>
      <ng-template #initialsTemplate>
        <div class="initials">{{ initials }}</div>
      </ng-template>
       <mat-icon>arrow_drop_down</mat-icon> 
    </div>
    <mat-menu #menu="matMenu">
      <div class="user-info">
        <p>{{ user.displayName }}</p>
        <p>{{ user.email }}</p>
      </div>
    </mat-menu>
  </div> -->
  
